@import "./global.css";

body {
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 60px;
    border-bottom: 1px solid var(--light-gray);
}

header .logo {
    height: min(10vw, 50px);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.profile-picture {
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.logo-name {
    font-size: min(5vw, 30px);
    color: var(--rose);
}

.favorites {
    cursor: pointer;
    width: 40px;
    font-size: 17px;
    font-weight: bold;
    color: var(--rose);
    border-radius: 100px;
    aspect-ratio: 1/1;
    padding: 5px;
    background: rgba(255, 103, 103, 0.1);
    border: 1px solid rgba(255, 103, 103, 0.2);
    transition: background 250ms ease-in-out;
}

.favorites:hover {
    background: rgba(255, 103, 103, 0.15);
}

main {
    flex: 1;
    display: flex;
    width: 100%;
}

.chatting-side {
    width: 23vw;
    border-right: 1px solid var(--light-gray);
    height: 100%;
    overflow-y: auto;
}

.chat-header {
    text-align: center;
    border-bottom: 1px solid var(--light-gray);
    font-weight: 500;
}

.chat-cards-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    overflow-y: auto;
}

.chat-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 17px;
    padding: 10px 15px;
    border-bottom: 1px solid var(--light-gray);
    width: 100%;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.chat-card:hover {
    background: #f1f1f1;
}

.chart-card-profile {
    height: 45px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100px;
}

.chat-card-name {
    font-weight: 500;
    font-size: 20px;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--rose);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(199, 89, 89);
}

/* tinder cards */

.frame {
    position: relative;
    width: 56vh;
    height: 84vh;
    max-width: 400px;
    max-height: 600px;
    z-index: 1;
}

.icons {
    margin-top: 3vh;
    user-select: none;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons>svg {
    width: 10vh;
    height: 10vh;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.icons>svg:nth-child(1) {
    fill: #fb4f68;
    margin-right: 2vh;
}

.icons>svg:nth-child(2) {
    fill: #4dca93;
}

.icons>svg>path:nth-child(1) {
    fill: #fff;
}

.card {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #f1f1f1;
    border-radius: 10px;
    user-select: none;
    cursor: grab;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    touch-action: none;
}

.card .is-like {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.card .is-like::after {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%) rotate(-10deg);
    width: 70%;
    height: 13%;
    font-size: 3em;
    letter-spacing: 0.2em;
    font-weight: 600;
    border-radius: 0.15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .like::after {
    content: "YUMM";
    color: #4dca93;
    border: 0.1em solid #4dca93;
}

.card .nope::after {
    content: "YUCK";
    color: #fb4f68;
    border: 0.1em solid #fb4f68;
}

.card .bottom {
    width: 100%;
    height: 25%;
    background: linear-gradient(to top, #00000080, #00000000);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 7%;
    font-weight: 400;
}

.card .bottom .title>span:nth-child(1) {
    font-size: 2em;
    font-weight: 700;
    margin-right: 0.2em;
}

.card .bottom .title>span:nth-child(2) {
    font-size: clamp(13px, 1.5em, 25px);
}

.card .bottom .title>span:nth-child(2)>b {
    font-size: 0.6em;
    margin-right: 0.2em;
}

.card .bottom .info {
    margin: 3% 0 0 2%;
    font-size: clamp(10px, 1.1em, 20px);
}

@media screen and (max-height: 540px) {
    .frame {
        width: 54vh;
        height: 81vh;
        font-size: 13px;
    }
}

@media screen and (max-height: 440px) {
    .frame {
        font-size: 8px;
    }
}

/* Conversation page */
.conversation-page {
    height: 100%;
    width: 100%;
    position: relative;
}

.conversation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 100px;
    border-bottom: 1px solid var(--light-gray);
}

.block-button {
    padding: 7px 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--rose);
}

.input-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#messageInput {
    flex: 1;
    height: 60px;
    padding: 20px;
    outline: none;
    background: var(--white);
    border: 1px solid var(--light-gray);
    border-left: none;
    font-size: 17px;
}

.send-message {
    width: 70px;
    border: 1px solid var(--light-gray);
    background: var(--white);
    border-left: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--blue);
    transition: background 200ms ease-in-out;
}

.send-message:hover {
    background: #f1f1f1;
}

.messages-container {
    width: 100%;
    height: 900px;
    overflow: scroll;
    padding: 105px 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.message {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    flex-direction: column;
    background: var(--blue);
    padding: 10px 20px;
    position: relative;
    border-radius: 20px;
}

.message-content {
    max-width: 500px;
    white-space: wrap;
    word-break: break-all;
}

.message-time {
    position: absolute;
    bottom: -20px;
    font-size: 10px;
    user-select: none;
}

.message.me {
    align-self: flex-end;
    background: #f1f1f1 !important;
}

.message.me .message-time {
    align-self: flex-end;
}

.close-conversation {
    font-size: 20px;
    cursor: pointer;
}

.profile-picker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
    z-index: 1000000;
    display: none;
    place-content: center;
}

.labelPic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 27px;
    gap: 30px;
    padding: 40px;
    border: 1px solid var(--blue);
    border-radius: 10000px;
    aspect-ratio: 1/1;
    cursor: pointer;
    color: var(--blue);
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 6px #3331;
}

.labelPic:hover {
    background: #f1f1f1c0;
}

.labelPic i {
    font-size: 120px;
}

.show-profile-picker {
    display: grid !important;
}